.mat-card-header{
    background-color:#4FC3F7 !important;
    color: white;
    align-content: center;
    text-align: center;
    padding:5px !important;
    border-radius: 6px;
    height: 40%;
  }
  
   .mat-card{
    padding:0 !important;
    width: 40%;
    margin: 20%;
  }
  
.mat-card-content{
    padding:5px !important;
}

.mat-card-title{
    text-align: center;
    width: 100%;
    height: 100%;
}
  